In [1]:
import pandas as pd

In [18]:
data = pd.read_csv(r'task4.txt', delimiter = ',', index_col = 'id')

In [21]:
data

     X   Y  Class
id
1   22  86      0
2   78  32      1
3   54  50      1
4   68  80      0
5   18  12      0
6   85  48      0
7   78  10      0
8   50  74      0
9   30  95      0
10  91  12      0

In [22]:
x_train = data.iloc[:,:2].values
y_train = data.iloc[:,2].values
print(x_train, y_train)

[[22 86]
 [78 32]
 [54 50]
 [68 80]
 [18 12]
 [85 48]
 [78 10]
 [50 74]
 [30 95]
 [91 12]] [0 1 1 0 0 0 0 0 0 0]

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
model_KNC = KNeighborsClassifier(n_neighbors=3, p=2)

In [25]:
model_KNC.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [30]:
import numpy as np
new_obj = np.array([30,30])

In [37]:
print('prediciton = ', model_KNC.predict([new_obj]))
print('distance to the closest = ', model_KNC.kneighbors([new_obj])[0][0][0])
print('3 closest neighbors = ', model_KNC.kneighbors([new_obj])[1][0])

prediciton =  [1]
distance to the closest =  21.633307652783937
3 closest neighbors =  [4 2 1]

In [38]:
model_KNC = KNeighborsClassifier(n_neighbors=3, p=1)
model_KNC.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3, p=1)

In [39]:
print('prediciton = ', model_KNC.predict([new_obj]))
print('distance to the closest = ', model_KNC.kneighbors([new_obj])[0][0][0])
print('3 closest neighbors = ', model_KNC.kneighbors([new_obj])[1][0])

prediciton =  [1]
distance to the closest =  30.0
3 closest neighbors =  [4 2 1]