In [25]:
import pandas as pd

In [26]:
data = pd.read_csv('candy-data.csv', delimiter = ',', index_col='competitorname')

In [27]:
print(data.shape)
data.head()

(70, 13)

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
competitorname,,,,,,,,,,,,,
100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1

In [30]:
test_names = ['Chewey Lemonhead Fruit Mix', 'Runts', 'Sixlets']
data.index[data.index == 'Tootsie Roll Juniors']

Index([], dtype='object', name='competitorname')

In [18]:
data_train = data.drop(test_names)
print(data_train.shape)
x_train = data_train.drop(['winpercent','Y'], axis = 1)
print(x_train.shape)
y_train = pd.DataFrame(data_train['Y'])
print(y_train)

(67, 13)
(67, 11)
                       Y
competitorname
100 Grand              1
3 Musketeers           1
One dime               0
One quarter            0
Air Heads              1
...                   ..
Snickers Crisper       1
Sour Patch Kids        1
Sour Patch Tricksters  1
Starburst              1
Strawberry bon bons    0

[67 rows x 1 columns]

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
reg = LogisticRegression(random_state = 2019, solver = 'lbfgs').fit(x_train, y_train.values.ravel())

In [53]:
data_test = pd.read_csv('candy-test.csv', delimiter = ',', index_col='competitorname')

In [55]:
print(data_test.shape)
print(data_test.index)
data_test.head()

(15, 12)
Index(['Sugar Babies', 'Sugar Daddy', 'Super Bubble', 'Swedish Fish',
       'Tootsie Pop', 'Tootsie Roll Juniors', 'Tootsie Roll Midgies',
       'Tootsie Roll Snack Bars', 'Trolli Sour Bites', 'Twix', 'Twizzlers',
       'Warheads', 'Welchs Fruit Snacks', 'Werthers Original Caramel',
       'Whoppers'],
      dtype='object', name='competitorname')

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,Y
competitorname,,,,,,,,,,,,
Sugar Babies,0,1,1,0,0,0,1,0,1,0.647364,0.7670,0
Sugar Daddy,1,0,0,0,1,0,1,0,0,0.418000,0.3250,0
Super Bubble,0,1,0,0,0,0,0,0,0,0.162000,0.1160,0
Swedish Fish,0,1,0,0,0,0,0,0,1,0.604000,0.7550,1
Tootsie Pop,1,0,0,0,0,0,0,0,0,0.876560,0.5654,1

In [56]:
data_test.drop('Y', axis = 1).loc['Tootsie Roll Juniors',:].values.reshape(1,-1)

array([[1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31299999,
        0.51099998]])

In [57]:
print('Tootsie Roll Juniors = ', reg.predict_proba(data_test.drop('Y', axis = 1).loc['Tootsie Roll Juniors',:].values.reshape(1,-1))[0][1])

Tootsie Roll Juniors =  0.7169953064877832

In [58]:
reg.predict(data_test.drop('Y', axis = 1).loc['Tootsie Roll Juniors',:].values.reshape(1,-1))

array([1], dtype=int64)

In [59]:
print('Tootsie Roll Midgies = ', reg.predict_proba(data_test.drop('Y', axis = 1).loc['Tootsie Roll Midgies',:].values.reshape(1,-1))[0][1])

Tootsie Roll Midgies =  0.7408254242477313

In [44]:
from sklearn import metrics

In [62]:
x_test = data_test.drop('Y', axis = 1)
y_test = data_test['Y'].values.ravel()
print(y_test.size)

15

In [63]:
y_predictions = reg.predict_proba(x_test)

In [64]:
y_1_pred = y_predictions[:,1]
y_1_pred

array([0.2860383 , 0.40005443, 0.34872332, 0.40179884, 0.78027773,
       0.71699531, 0.74082542, 0.80266581, 0.38536553, 0.39258965,
       0.35694444, 0.1495334 , 0.38229878, 0.59009405, 0.78523424])

In [66]:
y_1_pred_class = reg.predict(x_test)

In [67]:
metrics.recall_score(y_test, y_1_pred_class)

0.6

In [68]:
metrics.precision_score(y_test, y_1_pred_class)

0.5

In [69]:
metrics.roc_auc_score(y_test, y_1_pred)

0.86