In [21]:
import pandas as pd
import numpy as np

data = pd.read_csv('pulsar_stars.csv')

In [22]:
data.head()
data.info()
print(data.isna().sum().sum())
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MIP     17898 non-null  float64
 1   STDIP   17898 non-null  float64
 2   EKIP    17898 non-null  float64
 3   SIP     17898 non-null  float64
 4   MC      17898 non-null  float64
 5   STDC    17898 non-null  float64
 6   EKC     17898 non-null  float64
 7   SC      17898 non-null  float64
 8   TARGET  17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB
0
(17898, 9)

The First exercize

In [23]:
mask_1 =  (data.TARGET == 0) &  (82.9453125 <= data.MIP) & (data.MIP <= 84.3515625) 
mask_2 = (data.TARGET == 1) &  (83.7734375 <= data.MIP) & (data.MIP <= 92.6015625) 
res_1 = pd.concat([data[mask_1], data[mask_2]])
print('The number of rows is ', res_1.shape[0])

The number of rows is  202

The Second exersize

In [24]:
print('The mean value of the column MIP is  ', res_1['MIP'].mean())

The mean value of the column MIP is   85.78925587871286

The Third exercize

In [25]:
res_1.drop(columns = 'TARGET', inplace = True)

In [34]:
from sklearn.preprocessing import MinMaxScaler

res_2 = pd.DataFrame(MinMaxScaler().fit_transform(res_1), columns = res_1.columns )

print('The mean after normalization is ', res_2['MIP'].mean())

The mean after normalization is  0.2945184081514949

The Fouth exercize

In [36]:
STAR = np.array([0.337, 0.513, 0.425, 0.036, 0.928, 0.721, 0.714, 0.261])

In [44]:
from scipy.spatial.distance import euclidean

min = 5
for i, row in res_2.reset_index().iterrows():
    dist = euclidean(STAR, row.values[1:])
    if dist < min:
        min = dist

print('The distant to the closest star is ', min)

The distant to the closest star is  0.7828460858809095